<div class="login-container">
  <form (ngSubmit)="login()" class="login-form">
    <h2>Вхід</h2>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        [(ngModel)]="email" 
        name="email" 
        required 
        placeholder="Введіть вашу електронну пошту"
      />
    </div>
    
    <div class="form-group">
      <label for="password">Пароль</label>
      <input 
        type="password" 
        id="password" 
        [(ngModel)]="password" 
        name="password" 
        required 
        placeholder="Введіть ваш пароль"
      />
    </div>
        <!-- Блок виведення помилки -->
        <div *ngIf="error" class="error-message" style="color: red; margin-bottom: 10px;">
          {{ error }}
        </div>
    
    <button type="submit" class="login-button">Увійти</button>
    
    <div class="additional-links">
      <p>Немає акаунта? <a routerLink="/register">Зареєструватися</a></p>
    </div>
  </form>
</div>
