<h2>Автомобілі</h2>

<p *ngIf="error" style="color:red">{{ error }}</p>
<ul *ngIf="cars.length > 0">
    <li *ngFor="let car of cars">
      <strong>{{ car.name }}</strong> |
      {{ car.brand }} {{ car.model }} |
      {{ car.price_per_day }} грн/день
      <br />
      <ng-container *ngIf="car.available; else unavailable">
        <a [routerLink]="['/rent', car.id]">Орендувати</a>
      </ng-container>
      <ng-template #unavailable>
        <span style="color: gray;">Недоступне</span>
      </ng-template>
    </li>
  </ul>
  

<p *ngIf="cars.length === 0 && !error">Наразі немає доступних автівок.</p>
